<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Grad School HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/css/fontawesome.css">
    <link rel="stylesheet" href="/static/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="/static/css/owl.css">
    <link rel="stylesheet" href="/static/css/lightbox.css">

</head>

<body>

  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="/"><em>Grad</em> School</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>

    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="/">Home</a></li>

        <li class="has-submenu"><a href="">Predictions</a>
          <ul class="sub-menu">
            <li><a href="/survey_progress/">Progress Survey</a></li>
            <li><a href="/dropout/">DropOut</a></li>
            <li><a href="/survey/">Survey</a></li>
              <li><a href="predict_full/">StudentPerfomance</a></li>
          </ul>
        </li>

        <li><a href="#section4">Courses</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <!-- Django Block -->
  {% block lala %}
  {% endblock %}

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            Copyright 2020 by Grad School |
            Design: TemplateMo | Distributed By: ThemeWagon
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="/static/js/isotope.min.js"></script>
  <script src="/static/js/owl-carousel.js"></script>
  <script src="/static/js/lightbox.js"></script>
  <script src="/static/js/tabs.js"></script>
  <script src="/static/js/video.js"></script>
  <script src="/static/js/slick-slider.js"></script>
  <script src="/static/js/custom.js"></script>

</body>
</html>
